<div class="contentWrapper">
    <nav class="navBarWrapper clearfix">
        <div class="navLogoWrapper">
            <a href="/" class="navLogoBorder">
                <p class="navLogo">Y</p>
            </a>
        </div>
        <div class="navLinksWrapper">
            <a href="/" class="navTitle">Hacker News</a>
            <ul class="navLinkList">
                <li class="navLinkItem"><a href="https://news.ycombinator.com/newest" class="navItemAnchor">new</a></li>
                <li class="navLinkItem"><a href="https://news.ycombinator.com/newcomments" class="navItemAnchor">comments</a></li>
                <li class="navLinkItem"><a href="https://news.ycombinator.com/show" class="navItemAnchor">show</a></li>
                <li class="navLinkItem"><a href="https://news.ycombinator.com/ask" class="navItemAnchor">ask</a></li>
                <li class="navLinkItem"><a href="https://news.ycombinator.com/jobs" class="navItemAnchor">jobs</a></li>
                <li class="navLinkItem"><a href="https://news.ycombinator.com/submit" class="navItemAnchor">submit</a></li>
            </ul>
        </div>
        <div class="navLoginWrapper">
            <a href="https://news.ycombinator.com/login?goto=news" class="navLoginLink">login</a>
        </div>
    </nav>
    <ul class="storiesList">
        <% @storyArray.each.with_index do |story, index| %>
            <li class="storyWrapper clearfix">
                <p class="storyIndex"><%= index + 1 %>.</p>
                <a class="voteArrowWrapper" href='http://news.ycombinator.com/item?id=<%= story["id"] %>'><div class="voteArrow"></div></a>
                <div class="storyContentWrapper">
                    <div class="titleText">
                        <p><a href=<%= story["url"] %> class="storyLink"><%= story["title"] %></a><span class="sourceLink"> (<a href="/"><%= story["urlShort"] %></a>)</span></p>
                    </div>
                    <div class="subText">
                        <p>
                            <%= story["score"] %> points by 
                            <a href='http://news.ycombinator.com/user?id=<%= story["by"] %>'><%= story["by"] %></a> 
                            <a href='http://news.ycombinator.com/item?id=<%= story["id"] %>'><%= story["timeStamp"] %> hours ago</a> | <a href='http://news.ycombinator.com/hide?id=<%= story["id"] %>&goto=news'>hide</a> | <a href='http://news.ycombinator.com/item?id=<%= story["id"] %>'><%= story["descendants"] %> comments</a>
                        </p>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
    <a href="/" class="moreStoriesLink">More</a>
    <footer>
        <a href="" class="footerFeaturedLink">Applications are open for YC Summer 2018</a>
        <ul class="footerLinkList">
            <li class="footerLinkItem"><a href="http://news.ycombinator.com/newsguidelines.html">Guidelines</a></li>
            <li class="footerLinkItem"><a href="https://news.ycombinator.com/newsfaq.html">FAQ</a></li>
            <li class="footerLinkItem"><a href="mailto:hn@ycombinator.com">Support</a></li>
            <li class="footerLinkItem"><a href="https://github.com/HackerNews/API">API</a></li>
            <li class="footerLinkItem"><a href="https://news.ycombinator.com/security.html">Security</a></li>
            <li class="footerLinkItem"><a href="https://news.ycombinator.com/lists">Lists</a></li>
            <li class="footerLinkItem"><a href="https://news.ycombinator.com/bookmarklet.html">Bookmarklet</a></li>
            <li class="footerLinkItem"><a href="https://news.ycombinator.com/dmca.html">DMCA</a></li>
            <li class="footerLinkItem"><a href="http://www.ycombinator.com/apply/">Apply to YC</a></li>
            <li class="footerLinkItem"><a href="mailto:hn@ycombinator.com">Contact</a></li>
        </ul>
        <div>
            <label for="search" class="searchLabel">Search: </label>
            <input type="search" name="search" id="search" class="searchBox" />
        </div>
    </footer>
</div>
